.theme-btn {
	border: none;
	cursor: pointer;
	border-radius: 1000px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.btn-container {
	display: flex;
	justify-content: center;
	align-content: center;
	height: min-content;
}
