.form-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	min-width: 250px;
}

.search-btn {
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;

}

.search-input {
	margin: 5px;
	padding: 5px;
	min-width: 200px;
}
