.form-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.search-btn {
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 4.5%;
}

.search-btn:hover {
	cursor: pointer;
}

.search-input {
	margin: 5px;
	width: 20%;
	padding: 5px;
}
