.header-container {
	display: relative;
	text-align: center;
	justify-content: center;
}

.header-container h1 {
	font-size: large;
}

.back-button {
	position: absolute;
	left: 10px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}