.container {
	display: flex;
	flex-direction: column;
}

.header-container {
	display: flex;
	justify-content: center;
}

.header-container h1 {
	font-size: large;
}

.create-btn {
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.create-btn:hover {
	cursor: pointer;
}

.create-theme-container {
	display: flex;
	justify-content: space-around;
	align-content: center;
}
